.header {
    font-family: 'roboto Serif' serif;
    margin-top: 25px;

    .topic {
        .image {
            margin-right: 20px;

            img {
                width: 90px;
                height: 60px;
            }
        }

        .title {
            h1 {
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 0px;

                span {
                    color: $primaryColor;
                }
            }

            p {
                color: $gray;
                font-weight: 400;
                font-size: 12px;
            }
        }
    }

    .wrap {
        justify-content: flex-end;

        .item {
            margin-right: 12%;

            .icon {
                margin-right: 15px;
                margin-top: 5px;
                border: 1px solid $blue;
                background-color: $blue;
                border-radius: 50px;

                i {
                    padding: 8px;
                    color: #ffff;
                }
            }

            .text {
                font-family: "Raleway" sans-serif;

                p {
                    font-size: 14px;
                    color: $gray;
                    margin-bottom: -4px;
                }

                .num {
                    font-size: 16px;
                    color: black;
                    font-weight: 500;
                }
            }
        }
    }
}

.lower {
    .navbar {
        background-color: $primaryColor;

        .container {
            .navbar-toggler {
                img {}
            }

            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 500;
                            font-family: "Raleway" sans-serif;
                            margin-right: 20px;

                            &.active {
                                border: 1px solid #fff;
                                border-radius: 10px;
                                background-color: #fff;
                                color: $primaryColor;
                                padding: 5px 10px;
                            }
                        }

                        #navbarDropdown {
                            margin-left: 120%;
                            border: 1px solid #fff;
                            background-color: #fff;
                            color: $primaryColor;
                            padding: 5px 40px;
                            border-radius: 24px;
                            padding-right: 78px;
                        }

                        .dropdown-menu {
                            border: 5px solid $primaryColor;
                            padding: 0;
                            input {
                                margin: 10px;
                                border: 1px solid $primaryColor;
                                width: 90%;
                                padding: 10px;
                            }

                            .pass {
                                font-size: 14px;
                                font-weight: 500;
                                color: #fff;
                                border: 1px solid $primaryColor;
                                background-color: $primaryColor;
                                padding: 10px;
                                margin: 10px;
                                width: 150px;
                                text-align: center;
                            }

                            .btn {
                                border: 1px solid $primaryColor;
                                margin: 10px;
                                width: 150px;
                                text-align: center;
                                font-size: 14px;
                                font-weight: 500;
                                padding: 10px;
                            }
                        }

                        .sign {
                            border: 1px solid $primaryColor;
                            margin: 10px;
                            width: 150px;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 10px;
                        }
                    }

                    .icon {
                        margin:10px 5px;
                        i {
                            margin-top: 20px;
                            padding: 0;
                            font-size: 30px;
                            color: $blue;
                        }
                    
                    .or {
                        border: 1px solid $primaryColor;
                            margin: 10px;
                            width: 150px;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 10px;
                    }

                    h5 {
                        border: 1px solid $primaryColor;
                            margin: 10px;
                            width: 150px;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 10px;
                    }
                }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .header {
        .container {
            .row {
                flex-direction: column;

                .col-sm-4 {
                    max-width: 100%;

                    .topic {
                        .image {
                            img {
                                width: 65px;
                                height: 51px;
                            }
                        }

                        .title {
                            h1 {
                                font-size: 22px;

                                span {}
                            }

                            p {}
                        }
                    }
                }

                .col-sm-8 {
                    display: none;

                    .wrap {
                        .item {
                            margin-right: 0;

                            .icon {
                                i {}
                            }

                            .text {
                                p {}

                                .num {}
                            }
                        }
                    }
                }
            }
        }
    }

    .lower {
        .navbar {
            .container {
                .navbar-toggler {
                    img {}
                }

                .navbar-collapse {
                    .navbar-nav {
                        .nav-item {
                            .nav-link {}

                            #navbarDropdown {}

                            .dropdown-menu {
                                input {}

                                .pass {}

                                .btn {}

                                .sign {}

                                .icon {
                                    i {}
                                }

                                .or {}

                                h5 {}
                            }
                        }
                    }
                }
            }
        }
    }
}
